@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


html {
    font-family: 'Raleway', sans-serif;
}

/* For mobile and small windows */
@media  screen and (max-device-width: 800px) {
    .heading-left {
        font-size: 1.5rem !important;
    }

    .bookshelf {
        display: flex;
        flex-direction: column;
    }
}

.top-nav-wrapper {
    height: 4rem;
    border-bottom: 1px solid rgb(188, 188, 188);
    display: block;
    width: 95%;
    margin: 2rem auto;
}

.top-nav {
    display: flex;
    justify-content: space-between;
}

.heading-left, .heading-right {
    margin: 0 1rem;
    white-space: nowrap;
}

.heading-left {
    font-size: 2.5rem;
}

.heading-right {
    display: flex;
    align-items: center;
}

option {
    color:blue;
}
.sort {
    cursor: pointer;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1rem;  
    width: fit-content;
    margin: 0 8rem 0 1rem;
    padding-right: 0.5rem;
}

select:focus, input:focus {
    outline: none;
}

select[name="sort"] {
    font-size: 1rem;
    font-weight: 200;
    font-family: inherit;
}

.add-new-book-button, .submit {
    cursor: pointer;
    font-size: .9rem;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
    background-color: rgb(233, 233, 233);
    border-radius: 3px;
}
.add-new-book-button:hover, .submit:hover, select:hover {
    color: rgb(233, 163, 1);
}

.bookshelf {
    position: fixed;
    top: 97px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,14rem);
    grid-template-rows: auto;
    gap: 5rem;
    padding: 2rem;
    overflow-y: scroll;
}

.book {
    width: 11rem;
    height: 13rem;
    padding: 1.5rem;
    position: relative;
    border-radius: 6px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 3px 2px rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(244,244,244);
}

.book div {
    text-align: center;
    min-height: 1rem;
    height: fit-content;
}

.title {
    font-weight: 700;
}

.author, .pages {
    font-weight: 400;
}

.status {
    font-weight: 100;
}

@keyframes spin-360 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@keyframes spin-x {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(225deg);}
}

.remove, .edit {
    position: absolute; 
    cursor: pointer;
    display: none;
    color:rgb(188, 188, 188);
}

.edit:hover {
    color: rgb(255, 200, 0);
    animation: spin-360 400ms 100ms 1;
}
.remove:hover, .close:hover {
    color: red;
    animation: spin-x 400ms 100ms 1 ease;
}
.remove, .close {
    font-size: 2.5rem;
    font-weight: 200;
    transform: rotate(45deg);
}
.remove {
    top: -8px;
    right: 6px;
}
.edit {
    font-size: 1rem;
    top: 6px;
    left: 8px;
}

.book:hover .remove , .book:hover .edit{
    display: block;
}
.book:hover {
    box-shadow: none;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(1px);
    overflow: auto;
    
}

.modal-wrapper {
    position: relative;
    margin: 6% auto 0;
    border-radius: 6px;
    border: 1px solid lightgray;
    box-shadow: 0 0 10px 2px lightgray;
    width: 20rem;
    height: 25rem;
    background-color: white;
}


.modal-body {
    font-size: 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 21rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-body input, select[name="status"] {
    font-family: inherit;
    font-size: inherit;
    height: 2rem;
    border: none;
    border-bottom: 1px solid black;
}

.modal-middle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.modal-middle input {
    width: 3rem;
    text-align: center;
}

.pp {
    margin: 0 auto 0.25rem 0.5rem;
}

select[name="status"] {
    cursor: pointer;
    width: 8rem;
}

.close {
    position: absolute;
    top: 0px;
    right: 12px;
    cursor: pointer;
    color:rgb(188, 188, 188);
}


.modal-bottom {
    margin: 0 auto;
}