@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-family: 'Raleway', sans-serif;
}

.top-nav {
    height: 4rem;
    /* display: inline; */
    /* display: inline-block; */
    /* justify-content: space-between; */
    /* font-size: 3rem; */
    
    /* align-items: center; */
    /* padding: 1rem; */
    margin:2rem;
    border-bottom: 1px solid lightgrey;
}

.title, .add-new-book-button {
    display: inline-block;
    /* position: relative;
    top: 1rem; */
}

.title {
    font-size: 2.5rem;
}

.add-new-book-button {
    float: right;
    cursor: pointer;
    border: 1px solid black;
    font-size: 1.5rem;  
    padding: 0.5rem;
}


.bookshelf {
    position: fixed;
    top: 6rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,14rem);
    grid-template-rows: auto;
    gap: 5rem;
    padding: 2rem;
    overflow-y: scroll;
}

.book {
    border: 1px solid black;
    width: 14rem;
    height: 16rem;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(240,240,240,50%);
    backdrop-filter: blur(1px);
    overflow: auto;
}

.modal-content {
    padding: 1rem;
    margin: 10% auto;
    border: 1px solid black;
    width: 20rem;
    background-color: white;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-body input, select {
    font-family: inherit;
    margin: 1rem 0;
    width: 16rem;
}

.close {
    font-size: 2rem;
    float: right;
    cursor: pointer;
}